@@include('../include/_head.html', {
	"page": "notice"
})

</head>
<body>

<h1 class="skip">누리펀딩 공지사항</h1>
<div class="wrap">
	@@include('../include/_header.html') 
   
    <h2 class="com-ft">공지사항</h2>

    <!-- 01.공지사항 리스트 -->
    <section class="faq-list com-pd">
        <div class="container">

            <div class="com-box fl-wrap br4">
                <ul class="faq-th-box clearfix">
                    <li class="faq-th nth-1">제목</li>
                    <li class="faq-th nth-2">작성일</li>
                </ul>
                <ul class="faq-td-box clearfix">
                    <li class="faq-td nth-1"><span class="idx">10</span>신규투자자 예치금 지급 안내</li>
                    <li class="faq-td nth-2">2017.02.21</li>
                </ul>
                <ul class="faq-td-box clearfix">
                    <li class="faq-td nth-1"><span class="idx">09</span>신규투자자 예치금 지급 안내</li>
                    <li class="faq-td nth-2">2017.02.21</li>
                </ul>
                <ul class="faq-td-box clearfix">
                    <li class="faq-td nth-1"><span class="idx">08</span>신규투자자 예치금 지급 안내</li>
                    <li class="faq-td nth-2">2017.02.21</li>
                </ul>
                <ul class="faq-td-box clearfix">
                    <li class="faq-td nth-1"><span class="idx">07</span>신규투자자 예치금 지급 안내</li>
                    <li class="faq-td nth-2">2017.02.21</li>
                </ul>
                <ul class="faq-td-box clearfix">
                    <li class="faq-td nth-1"><span class="idx">06</span>신규투자자 예치금 지급 안내</li>
                    <li class="faq-td nth-2">2017.02.21</li>
                </ul>
                <ul class="faq-td-box clearfix">
                    <li class="faq-td nth-1"><span class="idx">05</span>신규투자자 예치금 지급 안내</li>
                    <li class="faq-td nth-2">2017.02.21</li>
                </ul>
                <ul class="faq-td-box clearfix">
                    <li class="faq-td nth-1"><span class="idx">04</span>신규투자자 예치금 지급 안내</li>
                    <li class="faq-td nth-2">2017.02.21</li>
                </ul>
                <ul class="faq-td-box clearfix">
                    <li class="faq-td nth-1"><span class="idx">03</span>누적 투자액 100억 달성 감사 EVENT 당첨 발표 안내</li>
                    <li class="faq-td nth-2">2017.02.21</li>
                </ul>
                <ul class="faq-td-box clearfix">
                    <li class="faq-td nth-1"><span class="idx">02</span>신규투자자 예치금 지급 안내</li>
                    <li class="faq-td nth-2">2017.02.21</li>
                </ul>
                <ul class="faq-td-box clearfix">
                    <li class="faq-td nth-1"><span class="idx">01</span>신규투자자 예치금 지급 안내</li>
                    <li class="faq-td nth-2">2017.02.21</li>
                </ul>
            </div>

            <div class="page-wrap">
                <p class="wbtn-wrap"><a class="write-btn br4 bg-blue fc-white" href="notice_02.html">글쓰기</a></p>

                <ul class="pagenation br4 clearfix" id="pagenation">
                    <li class="first"><a href="">&lt;</a></li>
                    <li class="on"><a href="">1</a></li>
                    <li><a href="">2</a></li>
                    <li><a href="">3</a></li>
                    <li><a href="">4</a></li>
                    <li><a href="">5</a></li>
                    <li class="last"><a href="">&gt;</a></li>
                </ul>
            </div>
        </div>
    </section>
    
	@@include('../include/_footer.html') 
</div>

</body>
</html>