@@include('../include/_head.html', {
	"page": "notice"
})

</head>
<body>

<h1 class="skip">누리펀딩 공지사항</h1>
<div class="wrap">
	@@include('../include/_header.html') 

    <h2 class="com-ft">공지사항</h2>

    <!-- 02.공지사항글 -->
    <section class="faq-post com-pd">
        <div class="container">

            <article class="com-box fp-wrap br4">
                <!-- 190415 -->
                <header class="fp-tit-box clearfix">
                    <h2 class="fp-title">[새소식] 선정산 상품 자동투자 기능 오픈<span class="fp-date">2018.00.00</span></h2>
                </header>
                <div class="fp-contents">
                    <a href="https://www.nurifunding.co.kr/member/auto.php"><img src="https://www.nurifunding.co.kr/img/notice/notice_autoinvest.jpg" alt="선정산 상품 자동투자 기능 오픈" /></a>
                    <p class="hidden">
                        드디어 자동기능 출시! 신규 선정산관련 상품이 나올 때마다 '투자금액'으로 정하신 예치금이
                        자동으로 투자되는 맞춤형 자동투자 기능입니다.
                    </p>
                </div>
                <footer class="fp-footer">
                    <a href="notice_01.html" class="view-btn br4">목록보기</a><a href="notice_03.html" class="update-btn br4"><span class="udt-icon"></span>수정</a><a href="" class="delete-btn br4"><span class="dlt-icon"></span>삭제</a>
                </footer>
            </article>

        </div>
    </section>
    
	@@include('../include/_footer.html') 
</div>

</body>
</html>