@@include('../include/_head.html', {
	"page": "notice"
})

</head>
<body>

<h1 class="skip">누리펀딩 공지사항</h1>
<div class="wrap">
	@@include('../include/_header.html') 
   
    <h2 class="com-ft">공지사항</h2>

    <!-- 02.공지사항글 -->
    <section class="faq-post com-pd">
        <div class="container">

            <article class="com-box fp-wrap br4">
                <header class="fp-tit-box clearfix">
                    <h2 class="fp-title">신규투자자 예치금 지급 안내<span class="fp-date">2017.02.21</span></h2>

                </header>
                <div class="fp-contents">
                    테스트 게시글입니다.
                    <br/>
                    <br/> 이제 투자시 매번 4자리 인증문자를 회신하지 않아도 최초 1회 SMS인증으로 90일동안 자동투자 완료되도록 변경 되었습니다.
                    <br/> - 적용일자 : 2016년 10월 11일 오후 6시 이후
                    <br/> ※ 주의사항 : 만료일(90일)이 지나면 자동으로 투자 자동인증이 해제 됩니다.
                    <br/>
                    <br/> [ 투자 자동인증 등록방법 ] 1. 펀딩 오픈전 : '설정&rarr; 인증센터&rarr; 투자 자동인증' 에서 등록이 가능합니다. 2. 펀딩 시 : 기존 투자 인증 방식으로 '투자미리보기&rarr; 투자확정&rarr; SMS 4자리 인증회신' 하시면 자동으로 투자 자동인증 등록이 됩니다.
                    <br/> ※ 위 어느 방식으로든 등록하시면 자동으로 투자 자동인증(90일)이 등록됩니다.
                    <br/> 감사합니다
                </div>
                <footer class="fp-footer">
                    <a href="notice_01.html" class="view-btn br4">목록보기</a><a href="notice_03.html" class="update-btn br4"><span class="udt-icon"></span>수정</a><a href="" class="delete-btn br4"><span class="dlt-icon"></span>삭제</a>
                </footer>
            </article>

        </div>
    </section>
    
	@@include('../include/_footer.html') 
</div>

</body>
</html>