@@include('../include/_head.html', {
	"page": "loan2"
})
    <!-- <link rel="stylesheet" href="http://nurifunding.co.kr/static/css/loan/loan2.css"> -->
    <link rel="stylesheet" href="/static/css/loan/loan2.css">
    
	<!--[if lt IE 9]>
        <link rel="stylesheet" href="http://nurifunding.co.kr/static/css/loan/loan2_ie9lt.css">
    <![endif]-->

</head>
<body>

<h1 class="skip">누리펀딩 대출신청</h1>
<div class="wrap">
	@@include('../include/_header.html') 
   
    <div class="contents">

        <!--180619 수정-->
        <!-- 00.대출신청 -->
        <section class="loan nth-1">
            <h2 class="lon-h2">대출신청</h2>
            <p class="fc-blue p-1">대출상담 문의전화 1644-5506</p>
            <p class="p-2">누리펀딩으로 전화주시면 친절한 상담을 약속드립니다.</p>
            <div class="container lon-box br4">

                <ul class="lon-ul">
                    <li class="lon-li">
                        <p class="lon-p">이름 </p>
                        <div class="lon-d nr-box">
                            <input type="text" name="name" class="nr-text br4 center-block" placeholder="이름을 입력해주세요"><span class="nr-ph">이름을 입력해주세요</span>
                        </div>
                    </li>
                    <li class="lon-li">
                        <div class="nth-1">
                            <p class="lon-p">휴대폰 번호 </p>
                            <div class="lon-d nr-box" id="lon-phone">
                                <input type="text" name="phone" onkeyup="javascript: checktype('number','phone');" class="nr-text br4 center-block" placeholder="'-'를 제외하고 입력해주세요"><span class="nr-ph">'-'를 제외하고 입력해주세요</span>
                            </div>
                        </div>
                    </li>
                    <li class="lon-li">
                        <p class="lon-p">주소 </p>
                        <div class="lon-d nr-box">
                            <input type="text" name="adress" class="nr-text br4 center-block" placeholder="주소 입력"><span class="nr-ph"></span>
                        </div>
                    </li>
                    <li class="lon-li">
                      <p class="lon-p">대출희망금액 (단위 원)</p>
                      <div class="lon-d nr-box">
                        <input type="text" name="loan_price" class="nr-text br4 center-block" placeholder="'원'단위로 입력해 주세요."><span class="nr-ph">원</span>
                      </div>
                    </li>
                    <li class="lon-li">
                        <p class="lon-p">정산일</p>
                        <div class="nr-box lon-d lon-date-box">
                          <input type="text" class="nr-text br4 center-block" maxlength="10" value="2020-09-20" placeholder="">
                          <p class="p-tilde">~</p>
                          <input type="text" class="nr-text br4 center-block" maxlength="10"  value="2020-09-20" placeholder="">
                        </div>
                      </li>
                      <li class="lon-li">
                        <p class="lon-p">총 정산금액</p>
                        <div class="lon-d nr-box">
                          <input type="text" name="loan_price" class="nr-text br4 center-block" placeholder="총 정산금액"><span class="nr-ph">원</span>
                        </div>
                      </li>
                      <li class="lon-li">
                        <p class="lon-p">요청사항</p>
                        <div class="txt-request-box nr-box">
                            <textarea class="txt-request" placeholder="요청사항 입력"></textarea>
                        </div>
                      </li>
                </ul>

                <p class="alow3"><a href="loan_04.html" class="a-btn br4 bg-blue">신청하기<span class="pull-right">▶</span></a></p>
                <p class="a-ps">신청해주신 정보를 통해 24시간 이내로 고객님께 연락드리겠습니다.</p>
            </div>
        </section>
        <!-- // -->

    </div>
    
	@@include('../include/_footer.html') 
</div>

</body>
</html>