@@include('../include/_head.html', {
	"page": "loan"
})
    <link rel="stylesheet" href="http://nurifunding.co.kr/static/css/loan/loan2.css"> 
    
	<!--[if lt IE 9]>
        <link rel="stylesheet" href="http://nurifunding.co.kr/static/css/loan/loan2_ie9lt.css">
    <![endif]-->
</head>
<body>

<h1 class="skip">누리펀딩 서류 제출 확인</h1>
<div class="wrap">
	@@include('../include/_header.html') 
   
    <div class="contents">

        <!-- 05.서류제출완료 -->
        <section class="loan nth-5">
            <h2 class="lon-h2">서류 제출 확인</h2>
            <div class="container lon-box br4">
                <img class="sub_01" src="http://img.nurifunding.co.kr/sub_01.png" alt="제출확인중">
                <h3 class="lon-h3 center-block"><span class="fc-blue">임준수</span>님의 서류 제출을 확인 중입니다.</h3>
                <p class="l5-ps">서류 제출이 확인되면 바로 문자 안내해 드립니다.</p>

                <p class="alow3"><a href="../invest/invest_01.html" class="a-btn br4 bg-blue">서류 제출 완료하기</a></p>

                <p class="l5-ps-2">제출하지 않은 서류가 있으신가요?</p>
                <p class="l5-ps-3">건강보험자격득실확인서, 건강보험료납부확인서</p>
                <p class="l5-ps-3">국민건강보험공단 1577-1000 (평일 오전 8시 ~ 오후 7시)에 전화하여 팩스 (050-5481-9064)로 서류 발송을 요청해주세요.</p>
            </div>
        </section>

    </div>
    
	@@include('../include/_footer.html') 
</div>

</body>
</html>