@@include('../include/_head.html', {
	"page": "loan"
})
    <link rel="stylesheet" href="http://nurifunding.co.kr/static/css/loan/loan2.css"> 
    
	<!--[if lt IE 9]>
        <link rel="stylesheet" href="http://nurifunding.co.kr/static/css/loan/loan2_ie9lt.css">
    <![endif]-->
</head>
<body>

<h1 class="skip">누리펀딩 서류 제출하기</h1>
<div class="wrap">
	@@include('../include/_header.html') 
   
    <div class="contents">

        <!-- 04.서류제출하기 -->
        <section class="loan nth-4">
            <h2 class="lon-h2">서류 제출하기</h2>
            <div class="container lon-box br4">
                <em class="lon-em center-block">건강보험자격득실확인서, 건강보험료납부확인서</em>
                <!--변경내용-->
                <p class="ps"><span class="xs-block sm-block md-inline">아래 안내에 따라 전화로 서류를 요청해주세요.</span> 요청시 신분증이 필요합니다.</p>
                <!--끝-->
                <div class="submit-box br4">
                    <p class="sb-p1">국민건강보헌공단 고객센터 (<span class="fc-blue">1577-1000</span>) 전화</p>
                    <p class="sb-p2">운영시간 : 평일 오전 8시 ~ 오후 7시</p>
                    <p class="sb-p3"><img src="http://img.nurifunding.co.kr/sub_arrow_down.png" alt="아래로진행"></p>
                    <p class="sb-p4">0번 상담사 연결</p>
                    <p class="sb-p5"><img src="http://img.nurifunding.co.kr/sub_arrow_down.png" alt="아래로진행"></p>
                    <p class="sb-p6">2번 (건강보험 자격/보험료 문의)선택</p>
                    <p class="sb-p7"><img src="http://img.nurifunding.co.kr/sub_arrow_down.png" alt="아래로진행"></p>
                    <p class="sb-p8">건강보헌자격득실확인서 (과거 내역 모두 포함)와
                        <br/>건강보험료납부확인서 (최근 2년)을<span class="xs-block"><span class="fc-blue"> 000-0000-0000</span>로 팩스 요청</span>
                    </p>
                    <p class="sb-p9">
                        <input type="checkbox" class="nr-check">
                        <span class="a-fc">팩스 요청을 완료하였으면 체크해주세요.</span>
                    </p>
                </div>
                <p class="alow3"><a href="loan_05.html" class="a-btn br4 bg-blue">서류 제출 완료하기</a></p>
            </div>
        </section>

    </div>
   
    
	@@include('../include/_footer.html') 
</div>

</body>
</html>