@@include('../include/_head.html', {
"page": "invest"
})

<link rel="stylesheet" href="https://nurifunding.co.kr/static/css/invest/invest2.css">
<!-- <link rel="stylesheet" href="/static/css/invest/invest2.css"> -->

<!--[if lt IE 9]>
        <link rel="stylesheet" href="http://nurifunding.co.kr/static/css/invest/invest2_ie9lt.css">
  <![endif]-->

</head>

<body>

    <h1 class="skip">누리펀딩 투자상품 리스트</h1>
    <div class="wrap">
        @@include('../include/_header.html')

        <!-- 01.리스트 -->
        <section class="ingProduct com-pd">
            <div class="container">

                <div class="row tit">
                    <h2 class="com-ft">누리펀딩 투자상품</h2>
                    <div class="dropdown category" id="category">
                        <button type="button" class="btn">전체<span class="pull-right">▼</span></button>
                        <ul class="dropdown-menu">
                            <li><a href="#">아파트</a></li>
                            <li><a href="#">빌라</a></li>
                            <li><a href="#">단독주택</a></li>
                            <li><a href="#">복합상가</a></li>
                        </ul>
                    </div>
                </div>
                <div class="row com-box ip-wrap" id="ip-wrap">
                    <div class="col-xs-12 col-sm-6 ip-outer">
                        <div class="ip-box br4">
                            <!--변경내용 신규상품일경우 new추가-->
                            <div class="thumb-box">
                                <span class="new">NEW</span>
                                <!-- 190619 자동 투자가 가능할경우 추가-->
                                <div class="autoinv">
                                    <span class="txt">자동</span>
                                    <p class="box">
                                        <span></span>
                                        자동투자방식이
                                        가능한 상품입니다.
                                    </p>
                                </div>
                                <!-- 20191226 누리세이프 -->
                                <div class="safe-mark">
                                    <img src="https://nurifunding.co.kr/img/nurisafe/safe_mark2.png" alt="누리세이프마크">
                                </div>
                            </div>
                            <h3 class="iph3">해운대 아파트</h3>
                            <ul class="ip-inner">
                                <li class="ipli-nth-1 clearfix">
                                    <p class="pull-left">예상수익률</p>
                                    <p class="pull-right">6.5%</p>
                                </li>
                                <li class="ipli-nth-2 clearfix">
                                    <p class="pull-left">기간</p>
                                    <p class="pull-right">12개월</p>
                                </li>
                                <li class="ipli-nth-3 clearfix">
                                    <p class="pull-left">상환방식</p>
                                    <p class="pull-right">혼합상환</p>
                                </li>
                                <li class="ipli-nth-4 clearfix">
                                    <p class="pull-left">모집현황</p>
                                    <p class="pull-right">4,000 / 4,000만원</p>
                                </li>
                                <li class="ipli-nth-5 clearfix">
                                    <p class="ip-per-bar bg-blue"></p>
                                </li>
                                <!--변경내용 -->
                                <li class="ipli-nth-6 clearfix">
                                    <p class="pull-left"><span class="ip-percent fc-blue">80%</span> 진행중<span class="ip-per-num">(852명)</span></p>
                                    <p class="pull-right day fc-blue">D-6일</p>
                                </li>
                                <!--변경내용 끝-->
                            </ul>
                            <p class="ip-btn-box"><a href="index_02.html" class="ip-btn bg-blue br4">투자하기</a></p>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 ip-outer">
                        <div class="ip-box br4">
                            <!--변경내용 펀딩완료일 경우 펀딩완료 추가-->
                            <!-- <div class="thumb-box">
                                <div class="end"><span>펀딩완료</span></div>
                            </div> -->
                            <div class="thumb-box">
                                <div class="thumb-text-wrapper">
                                    <p class="title">스와브 롱패딩/롱사파리</p>
                                    <p class="price">70,000원</p>
                                    <p class="text">백화점 판매 동일 모델</p>
                                </div>
                            </div>
                            <h3 class="iph3">해운대 아파트</h3>
                            <ul class="ip-inner">
                                <li class="ipli-nth-1 clearfix">
                                    <p class="pull-left">예상수익률</p>
                                    <p class="pull-right">6.5%</p>
                                </li>
                                <li class="ipli-nth-2 clearfix">
                                    <p class="pull-left">기간</p>
                                    <p class="pull-right">12개월</p>
                                </li>
                                <li class="ipli-nth-3 clearfix">
                                    <p class="pull-left">상환방식</p>
                                    <p class="pull-right">혼합상환</p>
                                </li>
                                <li class="ipli-nth-4 clearfix">
                                    <p class="pull-left">모집현황</p>
                                    <p class="pull-right">4,000 / 4,000만원</p>
                                </li>
                                <li class="ipli-nth-5 clearfix">
                                    <p class="ip-per-bar bg-blue"></p>
                                </li>
                                <li class="ipli-nth-6 clearfix">
                                    <p class="pull-left"><span class="ip-percent fc-blue">80%</span> 진행중<span class="ip-per-num">(852명)</span></p>
                                    <p class="pull-right day fc-blue">D-6일</p>
                                </li>
                            </ul>
                            <p class="ip-btn-box"><a href="index_02.html" class="ip-btn bg-blue br4">투자하기</a></p>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 ip-outer">
                        <div class="ip-box br4">
                            <div class="thumb-box"></div>
                            <h3 class="iph3">해운대 아파트</h3>
                            <ul class="ip-inner">
                                <li class="ipli-nth-1 clearfix">
                                    <p class="pull-left">예상수익률</p>
                                    <p class="pull-right">6.5%</p>
                                </li>
                                <li class="ipli-nth-2 clearfix">
                                    <p class="pull-left">기간</p>
                                    <p class="pull-right">12개월</p>
                                </li>
                                <li class="ipli-nth-3 clearfix">
                                    <p class="pull-left">상환방식</p>
                                    <p class="pull-right">혼합상환</p>
                                </li>
                                <li class="ipli-nth-4 clearfix">
                                    <p class="pull-left">모집현황</p>
                                    <p class="pull-right">4,000 / 4,000만원</p>
                                </li>
                                <li class="ipli-nth-5 clearfix">
                                    <p class="ip-per-bar bg-blue"></p>
                                </li>
                                <li class="ipli-nth-6 clearfix">
                                    <p class="pull-left"><span class="ip-percent fc-blue">80%</span> 진행중<span class="ip-per-num">(852명)</span></p>
                                    <p class="pull-right day fc-blue">D-6일</p>
                                </li>
                            </ul>
                            <p class="ip-btn-box"><a href="invest_02.html" class="ip-btn bg-blue br4">투자하기</a></p>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 ip-outer">
                        <div class="ip-box br4">
                            <div class="thumb-box"></div>
                            <h3 class="iph3">해운대 아파트</h3>
                            <ul class="ip-inner">
                                <li class="ipli-nth-1 clearfix">
                                    <p class="pull-left">예상수익률</p>
                                    <p class="pull-right">6.5%</p>
                                </li>
                                <li class="ipli-nth-2 clearfix">
                                    <p class="pull-left">기간</p>
                                    <p class="pull-right">12개월</p>
                                </li>
                                <li class="ipli-nth-3 clearfix">
                                    <p class="pull-left">상환방식</p>
                                    <p class="pull-right">혼합상환</p>
                                </li>
                                <li class="ipli-nth-4 clearfix">
                                    <p class="pull-left">모집현황</p>
                                    <p class="pull-right">4,000 / 4,000만원</p>
                                </li>
                                <li class="ipli-nth-5 clearfix">
                                    <p class="ip-per-bar bg-blue"></p>
                                </li>
                                <li class="ipli-nth-6 clearfix">
                                    <p class="pull-left"><span class="ip-percent fc-blue">80%</span> 진행중<span class="ip-per-num">(852명)</span></p>
                                    <p class="pull-right day fc-blue">D-6일</p>
                                </li>
                            </ul>
                            <p class="ip-btn-box"><a href="invest_02.html" class="ip-btn bg-blue br4">투자하기</a></p>
                        </div>
                    </div>

                    <!--변경내용 사이즈 통일을 위해 이미지에서 배경으로 변경-->
                    <script>
                        $("#ip-wrap > div").eq(0).find(".thumb-box").css({
                            "background": "url(http://img.nurifunding.co.kr/est-list/est_mono_1.jpg) no-repeat center",
                            "background-size": "cover"
                        });
                        $("#ip-wrap > div").eq(1).find(".thumb-box").css({
                            "background": "url(http://img.nurifunding.co.kr/est-list/est_pdt_01.jpg) no-repeat center",
                            "background-size": "cover"
                        });
                        $("#ip-wrap > div").eq(2).find(".thumb-box").css({
                            "background": "url(http://img.nurifunding.co.kr/est-list/pro_sample_1.jpg) no-repeat center",
                            "background-size": "cover"
                        });
                        $("#ip-wrap > div").eq(3).find(".thumb-box").css({
                            "background": "url(http://img.nurifunding.co.kr/est-list/pro_sample_1.jpg) no-repeat center",
                            "background-size": "cover"
                        });
                    </script>

                </div>

            </div>
        </section>

        @@include('../include/_footer.html')
    </div>

</body>

</html>