@@include('../include/_head.html', {
	"page": "invest"
})
   
    <!--<link rel="stylesheet" href="https://nurifunding.co.kr/static/css/invest/invest2.css">-->
    <link rel="stylesheet" href="https://nurifunding.co.kr/static/css/invest/invest_190412.css">

	<!--[if lt IE 9]>
        <link rel="stylesheet" href="http://nurifunding.co.kr/static/css/invest/invest2_ie9lt.css">
  <![endif]-->

</head>
<body>

<h1 class="skip">누리펀딩 투자신청 결과</h1>
<div class="wrap">
	@@include('../include/_header.html') 
    
    <!--04.투자신청결과-->
    <section class="proposal result com-pd">
        <div class="container">

            <h2 class="com-ft"><span class="fc-blue">임준수</span> 님의 투자 신청 결과</h2>
            <div class="com-box br4">
                <div class="prps-d-0 clearfix">
                    <p class="pc pull-left">
                        <span class="nth-1">채권명</span>
                        <span class="nth-2">등급</span>
                        <span class="nth-3">금리</span>
                        <span class="nth-4">기간</span>
                        <span class="nth-5">투자금액</span>
                    </p>
                </div>

                <div class="prps-d-1">
                    <ul class="prps-d1-ul clearfix">
                        <li class="prps-d1-li1">
                            <div class="nth-1">채권명</div>
                            <div class="nr-box nth-2">
                                <input type="checkbox" class="nr-check"><span>2467호 대환대출</span>
                            </div>
                        </li>
                        <li class="prps-d1-li2">
                            <div class="nth-1">등급</div>
                            <div class="nth-2">A-</div>
                        </li>
                        <li class="prps-d1-li3">
                            <div class="nth-1">금리</div>
                            <div class="nth-2">8.07%</div>
                        </li>
                        <li class="prps-d1-li4">
                            <div class="nth-1">기간</div>
                            <div class="nth-2">36개월</div>
                        </li>
                        <li class="prps-d1-li5">
                            <div class="nth-1">투자금액</div>
                            <div class="nth-2">10,000원</div>
                        </li>
                    </ul>
                </div>

                <div class="prps-d-2 br4">
                    <ul class="prps-d2-ul">
                        <li class="prps-d2-li1 clearfix">
                            <p class="pull-left">총 투자 <span class="fc-blue">1</span>건</p>
                            <p class="pull-right"><span class="fc-blue">50,000</span> 원</p>
                        </li>
                        <li class="prps-d2-li2 clearfix">
                            <p class="pull-left">나의 예치금 게좌</p>
                            <p class="pull-right">0원</p>
                        </li>
                    </ul>
                </div>

                <p class="prps-p1"><a href="../myinvest/index.html" class="btn br4 nth-1">투자내역 보기</a><a href="invest_01.html" class="btn br4 fc-white bg-blue nth-2">투자 신청 완료</a></p>

            </div>
        </div>
    </section>
   
	@@include('../include/_footer.html') 
</div>

</body>
</html>