@@include('../include/_head.html', {
"page": "nurisafe"
})

</head>

<body>

    <h1 class="skip">누리펀딩 누리세이프 플랜</h1>
    <div class="wrap">
        @@include('../include/_header.html')

        <!-- 콘텐츠 영역 -->
        <div class="contents nurisafe">
            <h2 class="page-tit ft-nt">누리세이프 플랜 <span class="ic-new big">NEW</span></h2>
            <div class="cont">
                <section class="sec intro">
                    <div class="sec-top ta-center">
                        <h1 class="title ">
                            <span class="c-blue">&lsquo;누리세이프 플랜&rsquo;</span>으로<br>
                            안심하고 투자하세요
                        </h1>
                        <p class="st">
                            투자원금 손실의 위험으로 부터<br>
                            고객님의 소중한 자산을 보호해 드립니다.
                        </p>
                    </div>
                    <hr class="sun" />
                    <div class="sec-mid">
                        <figure class="picture nurisafe"><img src="https://nurifunding.co.kr/img/nurisafe/nurisafe.jpg" alt="누리세이프 플랜이란?"></figure>
                        <p class="text ta-center">
                            누리펀딩 ‘누리세이프 플랜’은 <em>대지급 준비금으로 5천만원을 정기예금으로 예치</em>하여<br class="show-md">
                            채권의 연체 및 투자 원금 손실위험에서 투자자를 보호하는 제도입니다.<br class="show-md">
                            <em class="c-blue">투자원금 손실에 대한 부분을 최소화</em> 하고<br class="show-md">
                            투자의 안전성을 확보하기 위한 보호장치입니다.<br class="show-md">
                        </p>
                        <div class="cf plan-box">
                            <ul class="list ta-center">

                                <li class="item nth-1">
                                    <figure class="picture">
                                        <img src="https://nurifunding.co.kr/img/nurisafe/plan_01.png" alt="준비금 정기예금" />
                                        <figcaption>준비금 정기예금<br>5천만원</figcaption>
                                    </figure>
                                </li>
                                <li class="item nth-2">
                                    <figure class="picture">
                                        <img src="https://nurifunding.co.kr/img/nurisafe/plan_02.png" alt="투자안정성" />
                                        <figcaption>투자안정성 확보</figcaption>
                                    </figure>
                                </li>
                                <li class="item nth-3">
                                    <figure class="picture">
                                        <img src="https://nurifunding.co.kr/img/nurisafe/plan_03.png" alt="투자자보호" />
                                        <figcaption>채권연체/부실발생히<br>투자자보호</figcaption>
                                    </figure>
                                </li>
                            </ul>
                            <p class="cmt">
                                더욱 안전한 채권 관리와 투자자 보호를 위해<br>
                                최선을 다하는 누리펀딩이 되겠습니다.
                            </p>
                        </div>
                    </div>
                    <hr class="sun" />
                    <div class="sec-bottom">
                        <h2 class="title"><em class="bor-b">운영방법</em></h2>
                        <ul class="text-list">
                            <li class="text"><span class="num">1.</span> 대상은 취급일 기준 <strong class="c-org">2019년 12월18일~2020년 6월 30일</strong> 이내 취급 여신</li>
                            <li class="text"><span class="num">2.</span> 해당 금액 연체시(만기경과시) 5천만원 기금 잔액 범위내에서 즉시 지급</li>
                            <li class="text"><span class="num">3.</span> 발생일 기준으로 5천만원 이내 운영</li>
                            <li class="text"><span class="num">4.</span> 5천만원 초과 금액은 책임지지 않습니다.</li>
                            <li class="text"><span class="num">5.</span> 차주를 대신하여 지급해 드립니다.</li>
                        </ul>
                    </div>
                </section>
            </div>
        </div>

        <!-- 20190619 팝업 추가 -->
        <!-- @@include('../include/pop/_autoinv.html') -->


        @@include('../include/_footer.html')
    </div>

</body>

</html>