<link rel="stylesheet" href="https://nurifunding.co.kr/static/css/pop/wpop.css"> 
<script type="text/javascript" src="http://static.nurifunding.co.kr/js/mypage/mypage.js"></script>

<div class="wrap-wpop">
    <section class="wpop-account">
        <header class="header-wpop container">
            <h2><img src="https://nurifunding.co.kr/img/logo_pop.png" alt="팝업로고"> <strong>예치금 계좌 발급받기</strong></h2>
        </header>
        <div class="main clearfix container">
            <p class="row p-row">
                <span class="lbl">예금주 :</span>
                <input type="text" class="nr-text base-1 c-blue">
            </p>
            <p class="row p-row">
                <span class="lbl ltsp-1">은 행 :</span>
                <select name="" id="" class="nr-select base-1 br4 c-blue">
                    <option value="">기업은행</option>
                </select>
            </p>
        </div>
        <div class="area-btn align-center"><a href="" class="btn bg-blue c-white align-center br4">신청하기</a></div>
    </section>

</div>