<div class="pop-container pop-autoinv" style="display: none">
    <div class="bg-back"></div>

    <div class="pop-wrapper">
        <div class="pop-area clr">
            <div class="row">
                <div class="dropdown prc">
                    <button type="button" class="btn">금액선택<span class="pull-right">▼</span></button>
                    <ul class="dropdown-menu">
                        <li><a href="#">10</a></li>
                        <li><a href="#">30</a></li>
                        <li><a href="#">50</a></li>
                        <li><a href="#">100</a></li>
                    </ul>
                </div>
                <span>만원 자동투자</span>
            </div>
            <div class="row row-btn">
                <a href="javascript:void(0);" onclick="popupClose('.pop-autoinv');" class="btn-base btn-blue"><span class="show-xs">변경</span><span class="hidden-xs">변경하기</span></a>
                <a href="javascript:void(0);" onclick="popupClose('.pop-autoinv');" class="btn-base btn-gray"><span class="show-xs">취소</span><span class="hidden-xs">변경취소</span></a>
            </div>
        </div>
    </div>
</div>
<!--// .pop-container.pop-autoinv-->