<!-- 일반 해더 -->
<!-- 190415 -->
<header class="header" id="header">
    <div class="container header-box">
        <div class="navbar-header">
            <button type="button" class="nav-tab show-xs">
                <span class="icon-bar b1"></span>
                <span class="icon-bar b2"></span>
                <span class="icon-bar b3"></span>
            </button>
            <h2><a href="../main/index.html" class="navbar-brand"><img src="https://nurifunding.co.kr/img/logo.png" alt="누리펀딩로고"></a></h2>
            <a href="mypage/index_01.html" class="my-tab show-xs"><img src="https://nurifunding.co.kr/img/myp_icon.png" alt="마이페이지"></a>
        </div>
        <div class="navbar-collapse pull-right hidden-xs">
            <ul class="main-nav clearfix">
                <li><a href="../loan/index.html">대출신청</a></li>
                <li class="hidden-xs hidden-sm hidden-margin"></li>
                <li><a href="../invest/index_01.html">누리워드</a></li>
                <li><a href="../invest/index_01.html">투자하기</a></li>
                <li class="hidden-xs hidden-sm hidden-margin"></li>
                <li><a href="../service/index.html">회사소개</a>
                    <nav class="sub-nav">
                        <ul>
                            <li><a href="../service/index.html">회사 소개</a></li>
                            <li><a href="../service/index_rep.html">대표이사 소개</a></li>
                            <li><a href="../service/index_ir.html">기업 IR정보</a></li>
                        </ul>
                    </nav>
                </li>
                <li class="hidden-xs hidden-sm hidden-margin"></li>
                <li>
                    <a>이용안내</a>
                    <nav class="sub-nav">
                        <ul>
                            <li><a href="../faq/index.html">FAQ</a></li>
                            <li><a href="../notice/">공지사항</a></li>
                            <li><a href="../dataroom/">자료실</a></li>
                        </ul>
                    </nav>
                </li>
                <li class="hidden-xs hidden-sm hidden-margin"></li>
                <li><a href="../miripay/index.html">미리페이</a></li>
                <li class="hidden-xs hidden-sm hidden-margin"></li>
                <li><a href="../autoinv/index.html">자동투자 <span class="ic-new">NEW</span></a></li>
                <li><a href="../nurisafe/index.html">누리세이프 <span class="ic-new">NEW</span></a></li>
                <li class="hidden-xs hidden-sm hidden-margin"></li>
                <li><a class="c-blue" href="../mypage/index_01.html">내정보</a>
                    <nav class="sub-nav">
                        <ul>
                            <li><a href="../myinvest/index.html">나의투자정보</a></li>
                            <li><a href="../autoinv/">자동투자</a></li>
                            <li><a href="../mypage/index_01.html">회원정보수정</a></li>
                            <li><a href="">계좌정보</a></li>
                            <li><a href="">로그아웃</a></li>
                        </ul>
                    </nav>
                </li>

                <!-- <li class="hidden-xs hidden-sm hidden-margin"></li>
                <li><a class="c-blue" href="join/join_01.html">회원가입</a></li>
                <li class="hidden-xs hidden-sm hidden-margin"></li>
                <li><a class="c-blue" href="login/index.html">로그인</a></li> -->

                <!-- 180528 헤더 추가 -->
                <!--
                <li class="h-link fir"><a href=" http://www.fss.or.kr" target="_blank" class="a-link"><img src="http://img.nurifunding.co.kr/bt_main_2.png" alt="금융감독원 승인기업 2018-금감원-1486"></a></li>
                <li class="h-link"><a href="https://www.nurifunding.co.kr/notice/view.php?var=HUY=&page=1" target="_blank" class="a-link"><img src="http://img.nurifunding.co.kr/bt_kakaotalk.png" alt="카카오톡 플러스 친구 @누리펀딩"></a></li>
-->
            </ul>
        </div>
    </div>
    <!-- 홈/나의 투자 페이지: fixed, 상품목록/상품상세/투자하기 페이지: relat 클래스 추가-->
    <div class="topbn hidden-md fixed">
        <a href="https://www.nurifunding.co.kr/member/auto.php" class="bnbar"><img src="https://www.nurifunding.co.kr/img/banner/banner_auto1_m.png" alt="선정산 상품 자동투자기능 오픈" class="bnimg"></a>
    </div>
</header>
<!-- // -->

<!-- 모바일 네비게이션 -->
<section class="mlnb-wrap show-xs" id="mlnb-wrap">
    <div class="mlnb-container">
        <header class="mlnb-header">
            <p>
                <a href="../main/index.html" class="mh-logo"><img src="https://nurifunding.co.kr/img/lnb_logo.png" alt="누리펀딩"></a>
                <a href="javascript:void(0)" class="cls-btn"><img src="https://nurifunding.co.kr/img/cls_icon.png" alt="닫기"></a>
            </p>
            <!-- 190412 -->
            <!-- 로그인 전 -->
            <div class="t-box">
                <p>지금 바로 로그인하고</p>
                <p>누리펀딩의 투자서비스를 이용하세요!</p>
                <p class="nth-3"><a href="../login/index.html">로그인</a><a href="../join/join_01.html" class="nth-2">회원가입</a></p>
            </div>
            <!-- 로그인 후 -->
            <!-- <div class="t-box">
                <p>전형진님 안녕하세요.</p>
                <p>누리펀딩입니다.  <a href="javascript:;" class="lgout">로그아웃 <img class="img-lock" src="https://nurifunding.co.kr/img/icon/ic_lock.png" alt="로그아웃"></a></p>
                <p class="nth-3">
                    <a href="">나의투자</a>
                    <a href="">자동투자</a>
                    <a href="">회원정보</a>
                    <a href="">계좌정보</a>
                </p>
            </div> -->
        </header>
        <ul class="mlnb">
            <li><a href="../loan/loan_00.html">대출신청<img src="https://nurifunding.co.kr/img/arrow_r_icon.png" alt="바로가기"></a></li>
            <li><a href="../invest/invest_01.html">투자하기<img src="https://nurifunding.co.kr/img/arrow_r_icon.png" alt="바로가기"></a></li>
            <li><a href="../autoinv/">자동투자 <span class="ic-new big">NEW</span> <img src="https://nurifunding.co.kr/img/arrow_r_icon.png" alt="바로가기"></a></li>
            <li><a href="../nurisafe/">누리세이프 <span class="ic-new big">NEW</span> <img src="https://nurifunding.co.kr/img/arrow_r_icon.png" alt="바로가기"></a></li>
            <li><a href="javascript:;">회사소개<img src="https://nurifunding.co.kr/img/arrow_r_icon.png" alt="바로가기"></a>
                <nav class="m-sub-nav">
                    <ul>
                        <li><a href="../service/index.html">회사 소개</a></li>
                        <li><a href="../service/index_rep.html">대표이사 소개</a></li>
                        <li><a href="../service/index_ir.html">기업 IR정보</a></li>
                    </ul>
                </nav>
            </li>
            <li><a href="javascript:;">이용안내<img src="https://nurifunding.co.kr/img/arrow_r_icon.png" alt="바로가기"></a>
                <nav class="m-sub-nav">
                    <ul>
                        <li><a href="">FAQ</a></li>
                        <li><a href="">공지사항</a></li>
                        <li><a href="">자료실</a></li>
                    </ul>
                </nav>
            </li>
        </ul>
    </div>
</section>