@@include('../include/_head.html', { "page": "main" })
<link rel="stylesheet" href="http://nurifunding.co.kr/static/css/index2.css">
<!-- <link rel="stylesheet" href="/static/css/index2.css"> -->
<script type="text/javascript" src="http://nurifunding.co.kr/static/js/index.js"></script>
<!-- <script type="text/javascript" src="../static/js/index.js"></script>-->

<!--[if lt IE 9]> <link rel="stylesheet" href="http://nurifunding.co.kr/static/css/index2_ie9lt.css"> <![endif]-->
</head>

<body>

    <h1 class="skip">누리펀딩</h1>
    <div class="wrap">
        @@include('../include/_header.html')
        <!-- @@include('../include/pop/main/_phishingPop.html') -->
        <!-- @@include('../include/pop/main/_eventWinner.html') -->

        <!--변경내용 메인슬라이드-->
        <section class="main">
            <div class="container main-box main-common">
                <div class="s1-div-1">
                    <!--180329 고객센터 추가-->
                    <p class="nth-0">☎ 누리펀딩 고객센터 1666-4570</p>
                    <p class="nth-1">
                        <span class="f-bd">펀딩 이자</span>만으로
                        <span class="f-bd">해외여행</span>
                        갈 수 있을까요?</p>
                    <p class="nth-2">
                        <span class="xs-block sm-block">누리펀딩에서는</span>
                        가능합니다<i>!</i>
                    </p>
                    <p class="nth-3">누리펀딩에서 고금리 혜택을 누려보세요</p>
                </div>
            </div>
            <div class="container main-box swiper-container" id="main-slider">
                <ul class="swiper-wrapper">
                    <!-- <li class="swiper-slide review"> <a href="https://www.nurifunding.co.kr/notice/view.php?var=EUw=&page=1" class="hidden-xs"><img src="https://www.nurifunding.co.kr/img/banner/banner_review_pc.png" alt="누리펀딩 이용후기 이벤트, 블로그와 SNS에 누리펀딩 이용후기 남기고 푸짐한 경품 받으세요!"></a> <a href="https://www.nurifunding.co.kr/notice/view.php?var=EUw=&page=1" class="hidden-md"><img src="https://www.nurifunding.co.kr/img/banner/banner_review_m.png" alt="누리펀딩 이용후기 이벤트, 블로그와 SNS에 누리펀딩 이용후기 남기고 푸짐한 경품 받으세요!"></a> </li> -->
                    <li class="swiper-slide nth-1">
                        <div class="s1-div-2">
                            <div class="d1">
                                <p class="nth-1">MY LITTLE 펀딩 버킷리스트</p>
                                <p class="nth-2">
                                    <span class="xs-block sm-block">이 모든게 펀딩이자만으로</span>
                                    가능합니다!</p>
                            </div>
                            <div class="d2">
                                <p class="nth-1"><img src="https://nurifunding.co.kr/img/check_icon_02.png" alt="체크아이콘">
                                    몰디브에서 모히또 한 잔</p>
                                <p class="nth-2"><img src="https://nurifunding.co.kr/img/check_icon_02.png" alt="체크아이콘">
                                    세계 맛집 탐방하기</p>
                                <p class="nth-3"><img src="https://nurifunding.co.kr/img/check_icon_02.png" alt="체크아이콘">
                                    부모님께 효도 관강시켜드리기</p>
                                <p class="nth-4"><img src="https://nurifunding.co.kr/img/check_icon_02.png" alt="체크아이콘">
                                    나만의 공간 만들기</p>
                                <p class="nth-5"><img src="https://nurifunding.co.kr/img/check_icon_02.png" alt="체크아이콘">
                                    10년 동안 1억 만들기</p>
                            </div>
                        </div>
                        <div class="s1-div-3"><img src="https://nurifunding.co.kr/img/ms_ill_01.png" alt="고금리혜택"></div>
                    </li>
                    <li class="swiper-slide nth-2">
                        <div class="s1-div-2 s2-div-2">
                            <div class="d1">
                                <p class="nth-2">리스크 조기경보시스템 작동</p>
                            </div>
                            <div class="d2">
                                <p class="nth-1">누리펀딩에서는</p>
                                <p class="nth-2">원금 손실 방지를 위해</p>
                                <p class="nth-3">담보 부동산 가치를</p>
                                <p class="nth-4">실시간으로</p>
                                <p class="nth-5">알려드립니다.</p>
                            </div>
                        </div>
                        <div class="s1-div-3 s2-div-3"><img src="https://nurifunding.co.kr/img/ms_ill_02.png" alt="고금리혜택"></div>
                    </li>
                    <li class="swiper-slide nth-3">
                        <div class="s1-div-2 s3-div-2">
                            <div class="d1">
                                <p class="nth-2">원리금상환 능력점검</p>
                            </div>
                            <div class="d2">
                                <p class="nth-1">투자한 돈을 돌려받을 수 있도록</p>
                                <p class="nth-2">부동산 가치 상승, 임대료,</p>
                                <p class="nth-3">기타 수익 등 꼼꼼한</p>
                                <p class="nth-4">원리금 상환</p>
                                <p class="nth-5">CASH FLOW 점검</p>
                            </div>
                        </div>
                        <div class="s1-div-3 s3-div-3"><img src="https://nurifunding.co.kr/img/ms_ill_03.png" alt="고금리혜택"></div>
                    </li>
                </ul>

            </div>
        </section>
        <!--180319 수정사항-->
        <section class="rate bg-darkBlue">
            <div class="container">
                <div class="row">
                    <div class="col-xs-6 col-sm-6 rr-nth-1">
                        <h2 class="r-f">누적 상환액</h2>
                        <!--백만원단위로 넘어갈 경우 '원'에서 '백만원'으로 바뀌게-->
                        <p class="r-f2">
                            <span id="n1">0</span>
                            원</p>
                    </div>
                    <div class="col-xs-6 col-sm-6 rr-nth-2">
                        <h2 class="r-f">대출잔액</h2>
                        <p class="r-f2">
                            <span id="n2">1,234</span>
                            백만원</p>
                    </div>
                    <div class="col-xs-6 col-sm-6 rr-nth-3 mt">
                        <h2 class="r-f">누적대출 취급액</h2>
                        <p class="r-f2">
                            <span id="n3">1,070</span>
                            백만원</p>
                    </div>
                    <div class="col-xs-6 col-sm-6 rr-nth-4 mt">
                        <h2 class="r-f">평균금리</h2>
                        <p class="r-f2">
                            <span id="n4">14.00</span>%</p>
                    </div>
                    <!-- <div class="col-xs-6 col-sm-6 rr-nth-5 mt">
                        <h2 class="r-f">부실률<span class="q-w">
                                <span class="q">?
                                    <span class="q-t">
                                        현재 취급된 총<br>
                                        누적대금취급액 중<br>
                                        90일 이상 연체가 된<br>
                                        건의 잔여원금의 비중
                                    </span>
                                </span>
                            </span>
                            / 연체율<span class="q-w">
                                <span class="q">?
                                    <span class="q-t">
                                        약정된 상환이 일부<br>
                                        혹은 전부 지연되기<br>
                                        시작해 30일 이상, 90일<br>
                                        미만 경과한 대출<br><br>
                                        연체율 = 연체잔여원금<br>
                                        / 대출잔여금<br>
                                        (P2P금융협회기준)
                                    </span>
                                </span>
                            </span>
                        </h2>
                        <p class="r-f2">
                            <span id="n5">0</span>% /
                            <span id="n6">0</span>%
                        </p>
                    </div> -->
                    <div class="col-xs-6 col-sm-6 rr-nth-5 mt">
                        <h2 class="r-f">
                            연체율
                            <span class="q-w">
                                <span class="q">?
                                    <span class="q-t">
                                        약정된 상환이 일부<br>
                                        혹은 전부 지연되기<br>
                                        시작해 30일 이상, 90일<br>
                                        미만 경과한 대출<br><br>
                                        연체율 = 연체잔여원금<br>
                                        / 대출잔여금<br>
                                        (P2P금융협회기준)
                                    </span>
                                </span>
                            </span>
                        </h2>
                        <p class="r-f2">
                            <span id="n5">0</span>%
                        </p>
                    </div>
                    <div class="col-xs-6 col-sm-6 rr-nth-6 mt">
                        <h2 class="r-f">
                            부실률
                        </h2>
                        <p class="r-f2">
                            <span id="n6">0</span>%
                        </p>
                    </div>
                </div>
                <script>
                    $("#n1").animateNumber({
                        number: 0,
                        numberStep: $
                            .animateNumber
                            .numberStepFactories
                            .separator(',', 3)
                    }, 2000);
                    $("#n2").animateNumber({
                        number: 1234,
                        numberStep: $
                            .animateNumber
                            .numberStepFactories
                            .separator(',', 3)
                    }, 2000);
                    $("#n3").animateNumber({
                        number: 1070,
                        numberStep: $
                            .animateNumber
                            .numberStepFactories
                            .separator(',', 3)
                    }, 2000);
                    $("#n4").animateNumber({
                        number: 1400,
                        numberStep: $
                            .animateNumber
                            .numberStepFactories
                            .separator('.', 2)
                    }, 2000);
                    $("#n5").animateNumber({
                        number: 0,
                        numberStep: $
                            .animateNumber
                            .numberStepFactories
                            .separator('.', 2)
                    }, 2000);
                    $("#n6").animateNumber({
                        number: 0,
                        numberStep: $
                            .animateNumber
                            .numberStepFactories
                            .separator('.', 2)
                    }, 2000);
                </script>
            </div>
        </section>
        <!-- 미리페이 띠배너 -->
        <section class="bnBar miripayBn">
            <h2 class="hidden">보유하신 매출채권으로 필요자금 긴급지원! 미리페이 선지급 서비스로 간편하고 빠르게!</h2>
            <figure>
                <a href="/miripay/">
                    <img src="https://nurifunding.co.kr/img/banner/bn_miripay.png" alt="미리페이 선지급 서비스" class="hidden-xs">
                    <img src="https://nurifunding.co.kr/img/banner/bn_miripay_m.png" alt="미리페이 선지급 서비스" class="hidden-md">
                </a>
            </figure>
        </section>
        <!-- 20191226 누리세이프 -->
        <section class="bnBar nurisafeBn">
            <h2 class="hidden">채권의 연체 및 투자 원금 손실위험에서 투자자를 보호하는 누리세이프 플랜으로 안심하고 투자하세요!</h2>
            <figure>
                <a href="/nurisafe/">
                    <img src="https://nurifunding.co.kr/img/banner/nurisafe/bn_safe.png" alt="누리세이프 플랜" class="hidden-xs">
                    <img src="https://nurifunding.co.kr/img/banner/nurisafe/bn_safe_m.png" alt="누리세이프 플랜" class="hidden-md">
                </a>
            </figure>
        </section>

        <section class="benefit com-pd">
            <div class="container">
                <h2 class="com-ft">WHY
                    <span class="c-blue2">NURI</span>
                    FUNDING?</h2>
                <p class="p1">P2P 투자는 수익률이 먼저? NO! 누리펀딩은 원금을 지키는 리스크 관리를 더 소중하게 생각합니다.</p>
                <!--180308 변경내용 시작-->
                <!--PC버전 차트-->
                <div class="row com-box hidden-xs" id="per-chart">
                    <div class="nth-1">
                        <p class="p-per">
                            <span id="p-per1">1.52</span>%</p>
                        <p class="p-chart"></p>
                        <p class="p-tit">예금 금리</p>
                    </div>
                    <div class="nth-2">
                        <p class="p-per">
                            <span id="p-per2">2.15</span>%</p>
                        <p class="p-chart"></p>
                        <p class="p-tit">국고채 (5년물)</p>
                    </div>
                    <div class="nth-3">
                        <p class="p-per">
                            <span id="p-per3">6.85</span>%</p>
                        <p class="p-chart"></p>
                        <p class="p-tit">KOSPI</p>
                    </div>
                    <div class="nth-4">
                        <p class="p-per">
                            <span id="p-per4">12.86</span>%</p>
                        <p class="p-chart"></p>
                        <p class="p-tit">P2P업체 평균</p>
                    </div>
                    <div class="nth-5">
                        <p class="p-per">
                            <span id="p-per5">13.67</span>%</p>
                        <p class="p-chart"></p>
                        <p class="p-tit">누리펀딩</p>
                    </div>
                    <input type="hidden" id="per5_val" value="1367">
                    <script>
                        $("#per-chart > div").each(function (idx, item) {
                            var $this = $(this),
                                perData = $this
                                .find(".p-per > span")
                                .text(),
                                perHeight = perData * 27;

                            $this
                                .children(".p-chart")
                                .height(perHeight);
                        });
                    </script>
                </div>
                <!--M버전 차트-->
                <div class="row com-box show-xs" id="per-chart-m">
                    <div class="nth-1">
                        <p class="p-per">
                            <span id="p-per1">1.52</span>%</p>
                        <p class="p-chart"></p>
                        <p class="p-tit">예금 금리</p>
                    </div>
                    <div class="nth-2">
                        <p class="p-per">
                            <span id="p-per2">2.15</span>%</p>
                        <p class="p-chart"></p>
                        <p class="p-tit">국고채 (5년물)</p>
                    </div>
                    <div class="nth-3">
                        <p class="p-per">
                            <span id="p-per3">6.85</span>%</p>
                        <p class="p-chart"></p>
                        <p class="p-tit">KOSPI</p>
                    </div>
                    <div class="nth-4">
                        <p class="p-per">
                            <span id="p-per4">12.86</span>%</p>
                        <p class="p-chart"></p>
                        <p class="p-tit">P2P업체 평균</p>
                    </div>
                    <div class="nth-5">
                        <p class="p-per">
                            <span id="p-per5">13.67</span>%</p>
                        <p class="p-chart"></p>
                        <p class="p-tit">누리펀딩</p>
                    </div>
                    <input type="hidden" id="per5_val" value="1367">
                    <script>
                        $("#per-chart-m > div").each(function (idx, item) {
                            var $this = $(this),
                                perData = $this
                                .find(".p-per > span")
                                .text(),
                                perHeight = perData * 11.5;

                            $this
                                .children(".p-chart")
                                .height(perHeight);
                        });
                    </script>
                </div>

                <!--변경내용 끝-->
            </div>
        </section>

        <section class="ingProduct com-pd">
            <div class="container">

                <h2 class="com-ft">진행중인 투자상품</h2>
                <!--변경내용 id추가-->
                <div class="row com-box ip-wrap" id="ip-wrap">
                    <div class="col-xs-12 col-sm-6 ip-outer">
                        <div class="ip-box br4">
                            <!--변경내용 신규상품일경우 new추가-->
                            <div class="thumb-box">
                                <span class="new">NEW</span>
                                <!-- 190619 자동 투자가 가능할경우 추가-->
                                <div class="autoinv">
                                    <span class="txt">자동</span>
                                    <p class="box">
                                        <span></span>
                                        자동투자방식이 가능한 상품입니다.
                                    </p>
                                </div>
                                <!-- 20191226 누리세이프 -->
                                <div class="safe-mark">
                                    <img src="https://nurifunding.co.kr/img/nurisafe/safe_mark2.png" alt="누리세이프마크">
                                </div>
                            </div>
                            <h3 class="iph3">해운대 아파트</h3>
                            <ul class="ip-inner">
                                <li class="ipli-nth-1 clearfix">
                                    <p class="pull-left">예상수익률</p>
                                    <p class="pull-right">6.5%</p>
                                </li>
                                <li class="ipli-nth-2 clearfix">
                                    <p class="pull-left">기간</p>
                                    <p class="pull-right">12개월</p>
                                </li>
                                <li class="ipli-nth-3 clearfix">
                                    <p class="pull-left">상환방식</p>
                                    <p class="pull-right">혼합상환</p>
                                </li>
                                <li class="ipli-nth-4 clearfix">
                                    <p class="pull-left">모집현황</p>
                                    <p class="pull-right">4,000 / 4,000만원</p>
                                </li>
                                <li class="ipli-nth-5 clearfix">
                                    <p class="ip-per-bar bg-blue"></p>
                                </li>
                                <!--변경내용 시작-->
                                <li class="ipli-nth-6 clearfix">
                                    <p class="pull-left">
                                        <span class="ip-percent fc-blue">80%</span>
                                        진행중<span class="ip-per-num">(852명)</span></p>
                                    <p class="pull-right day fc-blue">D-6일</p>
                                </li>
                                <!--변경내용 끝-->
                            </ul>
                            <p class="ip-btn-box">
                                <a href="" class="ip-btn bg-blue br4">투자하기</a>
                            </p>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 ip-outer">
                        <div class="ip-box br4">
                            <!--변경내용 펀딩완료일 경우 [펀딩완료] 추가-->
                            <!-- <div class="thumb-box"> <div class="end"><span>펀딩완료</span></div> </div> -->
                            <!-- 191118 상품 상세내용 노출 -->
                            <div class="thumb-box">
                                <div class="thumb-text-wrapper">
                                    <p class="title">스와브 롱패딩/롱사파리</p>
                                    <p class="price">70,000원</p>
                                    <p class="text">백화점 판매 동일 모델</p>
                                </div>
                            </div>
                            <h3 class="iph3">해운대 아파트</h3>
                            <ul class="ip-inner">
                                <li class="ipli-nth-1 clearfix">
                                    <p class="pull-left">예상수익률</p>
                                    <p class="pull-right">6.5%</p>
                                </li>
                                <li class="ipli-nth-2 clearfix">
                                    <p class="pull-left">기간</p>
                                    <p class="pull-right">12개월</p>
                                </li>
                                <li class="ipli-nth-3 clearfix">
                                    <p class="pull-left">상환방식</p>
                                    <p class="pull-right">혼합상환</p>
                                </li>
                                <li class="ipli-nth-4 clearfix">
                                    <p class="pull-left">모집현황</p>
                                    <p class="pull-right">4,000 / 4,000만원</p>
                                </li>
                                <li class="ipli-nth-5 clearfix">
                                    <p class="ip-per-bar bg-blue"></p>
                                </li>
                                <li class="ipli-nth-6 clearfix">
                                    <p class="pull-left">
                                        <span class="ip-percent fc-blue">80%</span>
                                        진행중<span class="ip-per-num">(852명)</span></p>
                                    <p class="pull-right day fc-blue">D-6일</p>
                                </li>
                            </ul>
                            <p class="ip-btn-box">
                                <a href="" class="ip-btn bg-blue br4">투자하기</a>
                            </p>
                        </div>
                    </div>
                    <!--변경내용 사이즈 통일을 위해 이미지에서 배경으로 변경-->
                    <script>
                        $("#ip-wrap > div")
                            .eq(0)
                            .find(".thumb-box")
                            .css({
                                "background": "url(https://nurifunding.co.kr/img/est-list/est_mono_1.jpg) no-repeat center",
                                "background-size": "cover"
                            });
                        $("#ip-wrap > div")
                            .eq(1)
                            .find(".thumb-box")
                            .css({
                                "background": "url(https://nurifunding.co.kr/img/est-list/est_pdt_01.jpg) no-repeat center",
                                // "background": "url(/img/detail/thumbnail_test.jpg) no-repeat center",
                                "background-size": "cover"
                            });
                    </script>

                </div>

                <div class="row com-box ip-more-outer-2">
                    <div class="ip-more-box">
                        <a href="https://www.nurifunding.co.kr/invest/" class="ip-more-btn br4">투자상품 보러가기<span class="arr-icon black-r-icon"></span></a>
                    </div>
                    <div class="ip-more-box">
                        <a href="https://www.nurifunding.co.kr/invest/nuri.php" class="ip-more-btn br4">누리워드 보러가기<span class="arr-icon black-r-icon"></span></a>
                    </div>
                </div>

            </div>
        </section>

        <!--변경내용 시작-->
        <section class="easy com-pd">
            <div class="container">
                <!--변경내용_170530-->
                <h2 class="com-ft">웹 보안 + 금융 노하우 + 법률 자문<br>P2P 금융의 최고의 인력입니다.</h2>
                <div class="row com-box" id="easy">
                    <div class="col-xs-12 col-sm-4 col-md-3 nth-1">
                        <img src="https://nurifunding.co.kr/img/easy_01.png" alt="개인정보유출방지">
                        <h3>IT전문기업의<br>개인 정보 유출 방지</h3>
                        <img class="plus" src="https://nurifunding.co.kr/img/icon_plus.png" alt="플러스">
                    </div>
                    <!--<div class="col-xs-12 col-sm-1 plus nth-4"><img src="https://nurifunding.co.kr/img/icon_plus.png" alt="플러스"></div>-->
                    <div class="col-xs-12 col-sm-4 col-md-4 col-md-offset-1 nth-2">
                        <img src="https://nurifunding.co.kr/img/easy_02.png" alt="전문가의설명">
                        <h3>금융 전문가의<br>여신심사 금융 노하우</h3>
                        <img class="plus" src="https://nurifunding.co.kr/img/icon_plus.png" alt="플러스">
                    </div>
                    <!--<div class="col-xs-12 col-sm-1 plus nth-5"><img src="https://nurifunding.co.kr/img/icon_plus.png" alt="플러스"></div>-->
                    <div class="col-xs-12 col-sm-4 col-md-3 col-md-offset-1 nth-3">
                        <img src="https://nurifunding.co.kr/img/easy_03.png" alt="쉬운투자">
                        <h3>변호사<br>계약서 법률 검토</h3>
                    </div>
                    <div class="col-xs-12 ip-more-outer">
                        <div class="col-xs-12 col-sm-4 ip-more-box">
                            <a href="./service/index.html" class="ip-more-btn br4">자세히 보러가기<span class="arr-icon black-r-icon"></span></a>
                        </div>
                    </div>
                </div>

                <!--변경내용_170530 끝-->
            </div>
        </section>
        <!--변경내용 끝-->
        <!-- 180510 코스닥 벤처펀딩 추가 -->
        <!-- <section class="vcfund fom-pd"> <div class="container"> <p class="vf-tit-1"><span class="f-bd">KOSDAQ </span>VC Fund</p> <h2 class="com-ft c-blue2 f-bd">코스닥 벤처펀드도 누리펀딩!</h2> <p class="vf-tit-2">친절한 상담을 약속드립니다.</p> <div class="vf-box"> <p class="vf-txt-1">코스닥벤처펀드란?</p> <p class="vf-txt-2"> 코스닥 시장활성화 방안의 일환으로 도입된 펀드로 펀드 투자금의 절반을 혁신, 벤처기업에 투자하는 상품입니다.<br> (2018년 3월 5일 첫 선을 보임) </p> </div> </div> </section> -->

        <section class="faq com-pd">
            <div class="container">
                <h2 class="com-ft">자주하는 질문</h2>
                <div class="row com-box fq-wrap">

                    <div class="col-xs-12 col-sm-4 fq-outer">
                        <div class="fq-box br4">
                            <h3 class="fqh3">
                                <span class="arr-icon q-icon"></span>누리펀딩은 어떻게 만들어졌나요?</h3>
                            <p class="fq-a">
                                <span class="arr-icon a-icon"></span>30년 경력 탄탄한 금융 전문가와 토탈 IT 서비스 전문 기업으로10년 동안 온라인 사이트의 보안을 책임져온 ㈜이비즈네트웍스가 누리펀딩에서 만났습니다.</p>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-4 fq-outer">
                        <div class="fq-box br4">
                            <h3 class="fqh3">
                                <span class="arr-icon q-icon"></span>대출 신청 자격 요건은 무엇인가요?</h3>
                            <p class="fq-a">
                                <span class="arr-icon a-icon"></span>기업과 개인 신용등급이 낮은 경우에도 대출취급이 가능하나 담보물 가치에 따라 대출금액이 제한 됩니다.</p>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 fq-outer">
                        <div class="fq-box br4">
                            <h3 class="fqh3">
                                <span class="arr-icon q-icon"></span>누리여신평가 등급이 무엇인가요?</h3>
                            <p class="fq-a">
                                <span class="arr-icon a-icon"></span>누리펀딩이 개발한 알고리즘을 바탕으로 채무자의 신용등급과 담보 가치를 결합한 여신평가 등급입니다.</p>
                        </div>
                    </div>

                </div>

                <div class="row com-box fq-btn-outer">
                    <div class="col-xs-12 com-sm-4 fq-btn-box">
                        <a href="" class="fq-btn br4">질문 전체 보러가기<span class="arr-icon black-r-icon"></span></a>
                    </div>
                </div>

            </div>
        </section>

        <!-- 사이드 배너 -->
        <div class="side-banner hidden-xs">
            <a href="https://www.nurifunding.co.kr/member/auto.php"><img src="https://www.nurifunding.co.kr/img/banner/banner_auto1_pc.png" alt="선정산 상품 자동투자 기능 오픈!" /></a>
            <!-- 191231 작업영역 -->
            <!-- 추가 작업 - 게시판 링크 연결 추가 -->
            <a href="">
                <img src="https://www.nurifunding.co.kr/img/evt/sales1000/bnr_reward.png" alt="누리펀딩투자상품100호달성기념리워드이벤트">
            </a>
        </div>
        <!-- // -->

        <!-- <div class="side-banner"> <a href="#none" class="hidden-md"><img src="http://img.nurifunding.co.kr/side_banner_01.png" alt="카카오톡 플러스 친구" /></a> <a href="#none"><img src="http://img.nurifunding.co.kr/side_banner_02.jpg" alt="가상계죄개설시1만원지급" /></a> </div> <script> $(function() { var scrNum = 300 $(window).scroll(function() { var scr = $(window).scrollTop(); // console.log(scr + ", " + relativeScr); if (scr > scrNum) { $(".side-banner").fadeOut(); } else { $(".side-banner").fadeIn(); } }); }); </script> -->

        <!--@@include('../include/pop/main/_phishingPop.html') -->

        <!-- 팝업 -->
        <!-- @@include('../include/pop/main/_sales1000.html') -->

        <!-- 팝업 -->
        <!-- @include('../include/pop/main/_pop_liivmate.html') -->
        @@include('../include/pop/main/_pop_dubleContents.html')
        

        @@include('../include/_footer.html')
    </div>

    <!-- 팝업 -->
    <!-- @@include('../include/pop/main/_eventWinner.html') -->

</body>

</html>