@@include('../include/_head.html', {
	"page": "mypage"
})
    
</head>
<body>

<h1 class="skip">누리펀딩 마이페이지</h1>
<div class="wrap">
	@@include('../include/_header.html') 
   
    
    <h2 class="com-ft">마이페이지</h2>

    <!--01.마이페이지-->
    <section class="mypage com-mg">
        <div class="container">

            <div class="pw-box com-box row br3">
                <em class="align-center center-block"><span class="fc-blue">회원정보</span>가 <span class="fc-blue">안전</span>하게 보호되고 있습니다</em>
                <p class="nth-1">회원님의 정보를 수정하려면 비밀번호를 입력해 주세요</p>
                <p class="nth-2 nr-box">
                    <input class="nr-text br4" type="password" placeholder="비밀번호"><span class="nr-ph">비밀번호</span><a class="ok-btn align-center br4" href="mypage_02.html">확인</a>
                </p>
                <p class="nth-3">비밀번호를 잊으셨나요? <a href="" class="txt-btn td-under">비밀번호찾기</a></p>
            </div>

            <div class="bank-box com-box row br3">
                <em class="align-center center-block">나의 예치금 입금 계좌</em>
                <div class="dropdown bank">
                    <button type="button" class="btn">은행을 선택하세요<span class="pull-right">▼</span></button>
                    <ul class="dropdown-menu">
                        <li><a href="javascript:void(0)">기업은행</a></li>
                        <li><a href="javascript:void(0)">신한은행</a></li>
                        <li><a href="javascript:void(0)">KEB하나은행</a></li>
                        <li><a href="javascript:void(0)">SC은행</a></li>
                        <li><a href="javascript:void(0)">한국씨티은행</a></li>
                        <li><a href="javascript:void(0)">대구은행</a></li>
                        <li><a href="javascript:void(0)">부산은행</a></li>
                        <li><a href="javascript:void(0)">광주은행</a></li>
                        <li><a href="javascript:void(0)">경남은행</a></li>
                        <li><a href="javascript:void(0)">우체국</a></li>
                    </ul>
                </div>
                <p class="bb-p0"><a href="mypage_03.html" class="bg-blue fc-white center-block align-center btn br4">계좌 만들기</a></p>
                <p class="bb-p1">예치금 계좌는 한번 발급 후 변경이 불가능 하니, 입금 은행 선택시 유의하여 주시기 바랍니다.</p>
                <p class="bb-p1">위 목록에 없는 은행의 경우, 발급이 불가능 합니다.</p>
            </div>

            <div class="binfo-box com-box row br3">
                <em class="align-center center-block">계정정보</em>
                <p class="bib-p1 clearfix"><span class="sl">이메일</span><span class="sr">nurifunding@naver.com</span></p>
                <p class="bib-p1 clearfix"><span class="sl">기존 비밀번호</span><span class="sr">**********</span></p>
                <p class="bib-p2"><a href="mypage_03.html" class="btn fc-white bg-blue center-block align-center br4">계정 정보 변경하기</a></p>
            </div>

        </div>
    </section>
    
	@@include('../include/_footer.html') 
</div>

</body>
</html>