@@include('../include/_head.html', {
	"page": "mypage"
})
    
</head>
<body>

<h1 class="skip">누리펀딩 마이페이지</h1>
<div class="wrap">
	@@include('../include/_header.html') 
   
    <h2 class="com-ft">마이페이지</h2>

    <!--03.계정정보 변경하기 버튼 클릭시 노출-->
    <section class="account-info com-mg">
        <div class="container">

            <div class="ai-box com-box row br3">
                <h3 class="align-center">계정정보</h3>
                <p class="aib-p0 align-center">회원정보를 입력해야 투자 하실 수 있습니다.</p>
                <p class="aib-p1"><span class="label">이메일</span><span class="email-name">nurifunding@nave.rcom</span></p>
                <p class="aib-p1"><span class="label">기존 비밀번호</span>
                    <input type="text" class="nr-text br4" placeholder="기존 비밀번호">
                </p>
                <p class="aib-p1"><span class="label">비밀번호 변경</span>
                    <input type="text" class="nr-text br4" placeholder="새로운 비밀번호">
                </p>
                <p class="aib-p1"><span class="label">비밀번호 확인</span>
                    <input type="text" class="nr-text br4" placeholder="새로운 비밀번호 확인">
                </p>
                <p class="aib-p2">
                    <em>안내설정</em> 수신 설정시 누리펀딩 투자상품 및 이벤트 정보등을 받아 보실 수 있습니다.
                    <br/> 단, 투자 및 상환에 관련된 안내는 설정여부와 상관없이 발송 됩니다.
                </p>

                <p class="aib-p4 nr-box">
                    <input type="checkbox" class="nr-check aibp4"><span>이메일 수신</span>
                    <input type="checkbox" class="nr-check aibp4"><span>SMS 수신</span>
                </p>
                <p class="aib-p3"><a href="../mydeposit/index.html" class="btn fc-white bg-blue center-block align-center br4">변경사항 저장하기</a></p>


            </div>
        </div>
    </section>
    
    
	@@include('../include/_footer.html') 
</div>

</body>
</html>